.glimmer-portfolio {


  @import "scrollbars";
  @import "filter-info";
  @import "links";
  @import "left-column";
  @import "right-column";

  font-family: 'Helvetica Neue', Verdana;
  padding-top: 50px;
  font-size: 16px;
  letter-spacing: 0.09em;
  line-height: 1.5em;
  border-bottom: 4px solid $primary;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;

  span.type {
    font-size: 15px;

    @media (max-width: $mobile-breakpoint){
      display: none;
    }
  }

  img.image-preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s object-position;

    &:hover {
      will-change: object-position;
    }
  }

  .blurred-placeholder {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-size: cover !important;
    filter: blur(10px);
    opacity: 0;
    transition: 0.5s opacity;
  }


  &, & * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .thumbnails {
    display: flex;
    margin-top: $base-space;
    padding: 10px 0;
    overflow-x: auto;
    overflow-y: visible;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: transparentize($primary, 0.7);
    z-index: 3;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

  }

  .thumbnail {
    width: 180px;
    height: 180px;
    margin: 0 10px;
    flex-shrink: 0;
    outline: 3px solid transparent;
    transition: 0.3s outline, 1s max-width, 0.3s opacity, 0.3s transform;
    max-width: 250px;
    cursor: pointer;
    padding: 0;
    border: 0;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
      
    }

    @media(max-width: $mobile-breakpoint){
      max-height: 100px;
      max-width: 100px;
    }

    &:hover {
      outline-color: transparentize($primary, 0.5);
    }

    &:focus {
      outline-color: $primary;
      transform: scale(1.05, 1.05);
    }
  
    &.active {
      outline-color: $primary;
    }

    &.hidden {
      max-width: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
    }

    &.empty {
      // this is a last empty thumbnail to have empty space in the end
      // could not find a better way as margin and padding is stripped in overflow:auto
      width: 1px;
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 40px);
    transition: transform 0.4s;

    &.pushRight {
      @media (max-width: $tablet-portrait-breakpoint){
        transform: translateX(-100vw);
      }
    }

  }

  .column {
    $side-column-size: 400px;

    @media (max-width: $tablet-portrait-breakpoint){
      flex-shrink: 0;
      width: 100% !important;
    }
  } 

  .label {
    display: inline-block;
    margin: 5px;
    border-bottom: 2px dashed;
    transition: 0.3s all;


    &:hover, &.active {
      cursor: pointer;
      color: $primary;
    }
  }

  .mobile-preview-switch {
    display: none;

    @media (max-width: $tablet-portrait-breakpoint){
      position: absolute;
      bottom: 128px;
      width: 100%;
      z-index: 3;
      display: flex;

      button {
        width: 50%;
        height: 40px;
        background: white;
        border: 0;
        text-transform: uppercase;
        box-shadow: 1px 1px 1px 1px transparentize(black, 0.9), -1px -1px 1px 1px transparentize(black, 0.9);
        margin: 10px;
        transition: 0.3s background, 0.3s color;

        &.info {
          margin-right: 0;
        }

        &.active {
          background: $primary;
          color: white;
        }
      }
    }

    @media (min-width: $mobile-breakpoint + 1) and (max-width: $tablet-portrait-breakpoint){
      bottom: 200px;
    }
  }
}