.links {

  padding: 0 $base-space;

  .link:last-child {
    margin-bottom: $base-space;

    @media(max-width: $mobile-breakpoint) {
      margin-bottom: $base-space/2;
    }
  }

  @media(max-width: $mobile-breakpoint) {
    padding: 0 $base-space/2; 
    padding-left: 2px;
  }


  .demo {
    background: transparent;
    color: black;
    display: flex;
    align-items: center;
  }

  svg {
    display: inline-block;
    width: 21px;
    margin: 0 5px;
  }
}