::-webkit-scrollbar {
    width:9px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius:4px;
    background:transparentize($primary, 0.8);
}

::-webkit-scrollbar-thumb {
    border-radius:4px;
    background:$primary;
}

::-webkit-scrollbar-thumb:hover {
    background:transparentize($primary, 1 - 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:transparentize($primary, 1 - 0.05);
}
