$space: 8px;
$white: #fff;

$dark-green: #003832;
$mild-green: #5b6861;
$smoke-green: #AFB99A;

$yellow: rgb(179, 165, 72);
$whity: #dfe4e2;
$grey: rgb(138, 138, 138);
$almost-black: rgb(53, 51, 56);
$light-grey: rgb(212, 212, 212);
$dark-grey: #302F2F;
$transparent-grey: transparentize($light-grey, 0.7);

$dark-blue: darken(#3c3933, 0%);

$secondary-red: rgb(255, 157, 157);
$mobile-breakpoint: 750px;
