{{>header title="Fast, progressive and flexible web templates"}}

<section class="top">

  {{>cubes}}

  <div class="inner ui container">
    <h1>I am Martin Malinda and I create &nbsp;<span class="highlighted">interactive user experiences</span>
    </h1>
    <h2>Freelance javascript developer and creative coder<div class="location">
      <img src="/images/prague.jpg" alt="Prague background">
      <div class="label">Prague</div>
    </div>
  </h2>
</div>
  <div class="icons ui container">
    {{>icons}}
  </div>
</section>

<section class="services">
  <div class="ui container">
    <h2>I like to build <span class="highlighted">amazing projects on the web</span></h2>
    <p>The joy of writing applications with JavaScript is that they can run anywhere. I like to come up with inovative and original approaches that provide a unique experience but do not compromise speed, usability or accessibility.</p>
    <div class="three columns">
      <div class="column">
        <div class="block">
          <div class="icon">
            {{>svg/wrench}}
          </div>
          <div class="title">
            Problem solving tools
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="icon">
            {{>svg/book}}
          </div>
          <div class="title">
            Story telling user experiences
          </div>
        </div>
      </div>
      <div class="column">
        <div class="block">
          <div class="icon">
            {{>svg/source}}
          </div>
          <div class="title">
            Optimizations
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="creative-coding">
    <div class="ui container">
      <h2><span class="highlighted">Design by code</span> is my favourite hobby </h2>
      <p>Even though I am primarily a JavaScript developer, main driving force behind my work is creativity. Design by code is effective. It requires a different mindset and therefore leads to unique results. Letting me do both design and code can be ideal for smaller projects.</p>
    </div>
    <div class="canvas">
      <div class="first-phase">
        <div class="hand-made sketch">
          <div class="circle"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="label">
          1. Hand-drawn sketch
        </div>
      </div>
      <div class="diverge arrows">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>
      <div class="second-phase">
        <div class="sketch">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="line"></div>
        </div>
        <div class="sketch">
          <div class="square"></div>
          <div class="square"></div>
          <div class="line"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="sketch">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="circle"></div>
          <div class="square"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="label">
          2. Multiple prototypes
        </div>
      </div>
      <div class="converge arrows">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>
      <div class="final-phase">
        <div class="sketch">
          <div class="circle"></div>
          <div class="square"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="line"></div>
        </div>
        <div class="label">
          3. Final result
        </div>
      </div>
    </div>
</section>

<section class="showcase">
  <div class="ui container">
    <h2 class="center"> ▼ Here's a few <span class="highlighted">featured projects</span> ▼</h2>
  </div>
</section>

<section id="glimmer-portfolio">
  {{!-- Glimmer app --}}
</section>

<section class="contact">
  <div class="photo">
    <img itemprop="image" src="https://res.cloudinary.com/serenity-themes/image/upload/q_auto,f_auto,w_450/v1487255126/martin_sykp3p.jpg" alt="Martin Malinda">
    <div class="icons highlighted">
      {{>icons}}
    </div>
  </div>
</section>

{{>footer}}