{{>header title="Fast, progressive and flexible web templates"}}

<section class="graphics">

  <div class="star one"></div>
  <div class="star two"></div>
  <div class="star three"></div>
  <div class="star four"></div>
  <div class="star five"></div>
  <div class="star six"></div>
  <div class="star seven"></div>
  <div class="star eight"></div>
  <div class="star nine"></div>
  <div class="star ten"></div>


  <div class="moon"></div>
  <div class="horizon">
    <div class="tree one">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="car">
      <div class="back body">
        <div class="window"></div>
      </div>
      <div class="front body">
        <div class="window"></div>
      </div>
      <div class="wheel front"></div>
      <div class="wheel back"></div>
      <div class="light one"></div>
      <div class="light two"></div>
    </div>
    <div class="tree two">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="tree three">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="tree four">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="tree five">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  {{!-- <div class="second horizon"></div> --}}
</section>

<section class="top">

  {{>cubes}}

  {{!-- <div class="inner ui container"> --}}
  <h1 class="ui container">I am Martin&nbsp;Malinda and I create <span class="highlighted">interactive user
      experiences</span>
  </h1>
  <h2 class="ui container">Freelance JavaScript developer and creative coder</h2>
  {{!-- </div> --}}
  <div class="icons ui container">
    {{>icons}}
  </div>
</section>

<section class="services">
  <div class="ui container">
    <h2>I like to build <span class="highlighted">amazing projects on the web</span></h2>
    <p>I like to come up with inovative and original approaches that provide a unique experience and that do not
      compromise speed, usability or accessibility.</p>
    <div class="three columns">
      <div class="column">
        <figure role="button" tabindex="0" class="block">
          <div class="icon">
            {{>svg/wrench}}
          </div>
          <div class="title">
            Finding solutions
          </div>
          <div class="details">
            <ul>
              <li>I take time to understand the problem in full context</li>
              <li>I think the ideal solution is often an easy one</li>
              <li>I always try to reduce the amount of work for the user to minimum</li>
            </ul>
          </div>
        </figure>
      </div>
      <div class="column">
        <figure role="button" tabindex="0" class="block">
          <div class="icon">
            {{>svg/book}}
          </div>
          <div class="title">
            User Experience
          </div>
          <div class="details">
            <ul>
              <li>Lightweight solutions, easy on the eyes</li>
              <li>Creating a positive experience means creating a memory</li>
              <li>Animations can explain context and navigate attention</li>
              <li>Visual communication can add more depth</li>
            </ul>
          </div>
        </figure>
      </div>
      <div class="column">
        <figure role="button" tabindex="0" class="block">
          <div class="icon">
            {{>svg/source}}
          </div>
          <div class="title">
            Optimizations
          </div>
          <div class="details">
            <ul>
              <li>Make the site load fast and stay fast</li>
              <li>Decrease the size of scripts, styles and images</li>
              <li>Render content as fast as possible</li>
              <li>Ensure 60fps interactions</li>
            </ul>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="creative-coding">
  <div class="ui container">
    <h2><span class="highlighted">Design by code</span> is my favourite hobby </h2>
    <p>Even though I am primarily a JavaScript developer, main driving force behind my work is creativity. Design by
      code is effective. It requires a different mindset and therefore leads to unique results. Letting me do both
      design and code can be ideal for smaller projects.</p>
  </div>
  <div class="canvas"
    aria-label="This visual story describes my creative proccess. First I create hand-drawn sketch. In a second phase I create multiple prototypes and based on those, we can agree on final result.">
    <div class="first-phase">
      <div class="hand-made sketch first">
        <div class="circle"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="square"></div>&nbsp;<div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="label">
        1. Hand-drawn sketch
      </div>
    </div>
    <div class="diverge arrows">
      <div class="arrow first"></div>
      <div class="arrow second"></div>
      <div class="arrow third"></div>
    </div>
    <div class="second-phase">
      <div class="sketch second">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="square"></div>&nbsp;<div class="square"></div>
        <div class="line"></div>
      </div>
      <div class="sketch third">
        <div class="square"></div>&nbsp;<div class="square"></div>
        <div class="line"></div>
        <div class="square"></div>&nbsp;<div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="sketch fourth">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="label">
        2. Multiple prototypes
      </div>
    </div>
    <div class="converge arrows">
      <div class="arrow fourth"></div>
      <div class="arrow fifth"></div>
      <div class="arrow sixth"></div>
    </div>
    <div class="final-phase">
      <div class="sketch fifth">
        <div class="circle"></div>
        <div class="square"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="square"></div>&nbsp;<div class="square"></div>
        <div class="line"></div>
      </div>
      <div class="label">
        3. Final result
      </div>
    </div>
  </div>
</section>

<section class="work-experience">
  <div class="ui container">
    <h2>Most notable <span class="highlighted">work experience</span></h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="left">
          <div class="image">
            {{>svg/greenfox}}
          </div>
          <span class="year">2019</span>
        </div>
        <div class="info">
          <h3>GreenFox Academy</h3>
          <div class="description">
            In GreenFox I mentored aspiring C#, Java and JavaScript Developers. I improved my presentation,
            mentoring and leadership skills and I deepened and clarified my tech knowledge.
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="left">
          <div class="image">
            {{>svg/leadfeeder}}
          </div>
          <span class="year">2017</span>
        </div>
        <div class="info">
          <h3>Leadfeeder</h3>
          <div class="description">
            At Leadfeeder I had a great opportunity to iterate on, refactor and expand the main UI. I took great care
            in improving the UX and write high quality, well-tested code.
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="left">
          <div class="image">
            {{>svg/topmonks}}
          </div>
          <span class="year">2016</span>
        </div>
        <div class="info">
          <h3>TopMonks</h3>
          <div class="description">
            At TopMonks I had a chance to build projects from ground up and work with Swiss and American clients.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="photo">
    <img itemprop="image"
      src="https://res.cloudinary.com/serenity-themes/image/upload/q_auto,f_auto,w_450/v1487255126/martin_sykp3p.jpg"
      alt="Martin Malinda (personal photo)">
    <div class="icons highlighted">
      {{>icons}}
    </div>
  </div>
</section>

{{>footer}}
