{{>header title="Fast, progressive and flexible web templates"}}

<section class="top">

  <div class="stage">
<div class="row">
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
</div>
<div class="row">
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
</div>
<div class="row">
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
</div>
<div class="row">
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
  <div class="cube">
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side left"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
    <div class="side back"></div>
  </div>
</div></div>

  <div class="inner">
    <h1>I am Martin Malinda and I create &nbsp;<span class="highlighted">interactive user experiences</span>
    </h1>
    <h2>[ Marker ] Prague, Czech Republic<div class="location">
        <img src="/images/prague.jpg" alt="Prague background">
        <div class="label">Prague</div>
      </div></h2>
      
  </div>
</section>

<section class="services">
    <div class="ui container">
     <div class="block">
      <h2>I like to build amazing projects on the web</h2>
      <p>The joy of writing applications with JavaScript is that they can run anywhere. I like to come up with inovative and original approaches that provide a unique experience yet which do not compromise speed, usability or accessibility.</p>
     </div>
     <div class="ui two columns">
       <div class="column">
         <div class="block">
           <h2>I design by code</h2>
           <p>Designing by code implies a different mode of thinking and therefore different kind of result. I can design, I can copy write and generally get something done very quickly. And then iterate, iterate, iterate and keep making it better.</p>
           <p>This does not mean I cannot function within a larger team though :)</p>
         </div>
       </div>
       <div class="column">
         <div class="block">
           <h2>I love to share what I have learned</h2>
           <p>I can offer my insights on what technology to use. How to make websites fast. How to manage content.</p>
         </div>
       </div>
     </div>
    </div>
</section>

<section class="consulting">
  
</section>


<section class="showcase">
  <h2>Showcase</h2>
</section>
<section id="glimmer-portfolio"></section>

{{>footer}}