 <a target="_blank" href="https://medium.com/@martinmalinda">
      {{>svg/medium}}
    </a>
    <a target="_blank" href="https://twitter.com/martinmalindacz">
      {{>svg/twitter}}
    </a>
    <a target="_blank" href="https://github.com/martinmalinda">
      {{>svg/github}}
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/martin-malinda-58b03253/">
      {{>svg/linkedin}}
    </a>
    <a href="mailto:malindacz@gmail.com">
      {{>svg/email}}
    </a>