
* {
  box-sizing:border-box;
}

html {
  // font-family: 'Helvetica Neue', Verdana, Helvetica, sans-serif;
  // font-family: 'Roboto';
  font-family: 'Montserrat';
  &.wf-active {
    font-family: 'Lato';
  }

  color: lighten(black, 10%);
}

.showcase {
  h2 {
    padding: 20px 20px;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin: 0 10px;
    color: $primary;
    border: 5px solid $primary;
    border-top: 10px solid $primary;
  }
}

.glimmer-portfolio {
  // border-top: 4px solid $primary;

  .left.column {
    border: 0 !important;
  }

  h3 {
    border: 0  !important;
  }
}