$green: #145214;
$red: darken(#ff5722, 30%);
$blue: #008596;
$darkgreen: #002500;
$medium-space: 20px;

$primary: $blue;
$base-space: $medium-space; 
$mobile-breakpoint: 500px;
$tablet-portait-breakpoint: 800px;

@import "container";
@import "general";

@import "pages/index";
