section.graphics {
  height: 50vw;
  background: black;
  position: relative;
  overflow: hidden;

  @keyframes rideAround {
    0% {
      left: -100px;
    }
    50% {
      left: calc(100vw + 50px);
    }
    100% {
      left: calc(100vw + 50px);
    }
  }

  @keyframes rideAround2 {
    0% {
      left: -100px;
    }
    10% {
      left: calc(100vw + 50px);
    }
    100% {
      left: calc(100vw + 50px);
    }
  }

  @keyframes glow {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

  @keyframes skyfall {
    0% {
      transform: translate(0, 0) rotate(45deg);
    }
    100% {
      transform: translate(120px, 120px) rotate(45deg);
    }
  }

  @keyframes fadeout {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes glowdie {
    0% {
      box-shadow: 0px 0px 8px 3px transparentize(white, 0.5);
      transform: scale(1, 1);
    }
    90% {
      box-shadow: -3px -3px 8px 7px transparentize(white, 0.5);
      transform: scale(3, 0.7);
    }
    100% {
      box-shadow: 0px 0px 8px 7px transparentize(white, 0.5);
      transform: scale(3, 0.7);
    }
  }

  .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 3px white;
    background: transparentize(white, 0.2);
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    transition: 0.5s top, 0.5s left;

    &::before {
      //extra glow when dying

      content: "";
      position: absolute;
      width: 1px;
      height: 1px;
      background: white;
    }

    &.glowing-0-5 {
      animation: 0.5s glow infinite;
    }

    &.glowing-0-3 {
      animation: 0.3s glow infinite;
    }

    &.glowing-1 {
      animation: 1s glow infinite;
    }

    &.delay-0-3 {
      animation-delay: 0.3s;
    }

    &.delay-0.6 {
      animation-delay: 0.6s;
    }

    &.fallen {
      animation: 0.8s skyfall forwards, 0.8s fadeout forwards;

      &::before {
        animation: 0.8s glowdie forwards;
      }
    }

    &.satellite {
      top: 40vh;
      left: -20px;
      animation: 40s rideAround forwards;
      animation-delay: 20s;
      animation-timing-function: linear;
    }
  }

  $tree-size: 10px;
  // $green: #003f00;
  $green: #143214;
  $white: white;

  .moon {
    $size: 4vw;
    width: $size;
    height: $size;
    opacity: 0.9;
    background: white;
    position: absolute;
    border-radius: 50%;

    right: 10vw;
    left: auto;
    top: 5vw;
    transform: rotate(15deg);

    &::before {
      content: "";
      background: black;
      width: 95%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
  }

  .tree {
    width: $tree-size;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: $tree-size/2;
    position: absolute;

    &.one {
      top: -35px;
      right: 50vw;
    }

    &.two {
      top: -45px;
      right: 55vw;
    }

    &.three {
      top: -35px;
      right: 56vw;
    }

    &.four {
      top: -37px;
      right: 52.5vw;
    }

    &.five {
      right: 128vw;
      top: 3vh;
    }

    span {
      display: inline-block;
      width: 0;
      height: 0;
      border-left: $tree-size solid transparent;
      border-right: $tree-size solid transparent;
      border-bottom: $tree-size solid black;
      border-top: $tree-size solid transparent;
      margin-bottom: -$tree-size * 1.3;
      transform: scale(0.6, 1);
    }
  }

  section {
    height: 100vh;
    overflow: hidden;
    background: #000900;
  }

  @keyframes float {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(0.3%);
    }
  }

  .horizon {
    // animation: 6s float infinite;

    width: 100vw;
    height: 1px;
    bottom: 0;
    background: darken($green, 4.5%);
    position: absolute;
    -webkit-appearance: none;
    box-shadow: 0px 0px 700px 70px transparentize(white, 0.75);

    &.second {
      left: -100vw;
      animation-delay: 1s;
      box-shadow: inset 0px 0px 40px 20px transparentize(black, 0.4);
    }
  }

  .car {
    $wheel-size: 8px;
    $color: darken($green, 18%);
    $window-color: darken(#5c6512, 12%);

    position: absolute;
    bottom: 0;
    left: -100px;
    width: 30px;
    animation: 30s rideAround infinite;
    animation-timing-function: linear;
    animation-delay: 10s;

    @media (max-width: 800px) {
      animation-duration: 15s;
    }

    .wheel {
      display: inline-block;
      background: black;
      width: $wheel-size;
      height: $wheel-size;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      z-index: 1;

      &.back {
        left: 1px;
      }

      &.front {
        right: 0;
      }

      //inner
      &::before {
        content: "";
        width: $wheel-size / 2;
        height: $wheel-size / 2;
        background: lighten(black, 30%);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        border-radius: 50%;
      }
    }

    .light {
      background: transparentize(yellow, 0.5);
      width: 1px;
      height: 1px;
      position: absolute;
      right: -2px;
      bottom: 7px;
      box-shadow: 10px 0 15px 10px transparentize(yellow, 0.6);
      transform: scale(1.5, 0.2);

      &.two {
        transform: scale(2.2, 0.4);
      }
    }

    .body {
      background: $color;
      position: absolute;
      z-index: 2;
      bottom: $wheel-size / 2;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      &.back {
        width: 17px;
        height: 14px;
        position: relative;

        &::before {
          width: 60%;
          height: 45%;
          content: "";
          background: $window-color;
          position: absolute;
          top: 2px;
          left: 3px;
          border-radius: 2px;
        }
      }

      &.front {
        right: -1px;
        width: 15px;
        height: 7px;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: -4px;
          left: -1px;
          transform: rotate(29deg);
          background: $color;
        }

        &::after {
          content: "";
          display: block;
          border-top: 3px solid transparent;
          border-left: 7px solid $window-color;
          border-bottom: 3px solid $window-color;
          border-right: 3px solid transparent;
          height: 0;
          width: 0;
          position: absolute;
          border-bottom-left-radius: 2px;
          top: -5px;
          // left: -1px;
        }
      }
    }
  }
}
